<h1><%= @recipe.name %></h1>

<p><%= @recipe.image %></p>

<h3>Prep Time:</h3> 

<ul>
  <%= @recipe.prep_time %> minutes
</ul>

<p><h3>Ingredients:</h3></p>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.count %> <%= ingredient.name %> <%= ingredient.measurement %></li>
  <% end %>
</ul>

<p><h3>Directions:</h3></p>

<ol>
  <% @recipe.directions.split(";").each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>

<div>
  <a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
</div>
<div>
  <%= link_to "Delete", "/recipes/#{@recipe.id}", method: :delete %>
</div>

