<h1>Start Planning Your Week</h1>

<%= form_tag '/meals', method: :post do %>
<% @days.each do |day| %>
  <h2><%= day.name %></a></h2>
  <%= hidden_field_tag :day_id, day.id %>
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <div><%= text_field_tag "recipe_data[#{day.id}][#{category.id}][]" %></div> 
  <% end %>
  <hr>
<% end %>
  <%= submit_tag "Add" %>
<% end %>